@import "normalize";
@import "./settings/fonts";
@import "./settings/colors";

*, *:after, *:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $font-base;
  color: $onyx;
}

html {
  font-size: 10px;
}



